*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    background-color: greenyellow;
    display: table;
    clear: both;
}

body{
    font-family: Arial;
    font-size: 18px;
}

h1, h2, p{
    color: rgb(66, 0, 128);
}

h1 {
    color: rgb(89, 124, 89);
    font-size: 50px;
    margin-bottom: 20px
}

h2 {
    color: rgba(66, 66, 66, 0.3);
    font-size: 25px;
}

p { 
    
    text-align: justify;
}

.main-text {
    font-size: 15px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 60px;
}

.container {
    width: 1140px;
    margin:20 auto 0 auto;
}

.blog-post {
    background-color: rgb(189, 189, 139);
    width: 75%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 5px solid gray;
}

.other-post {
    background-color: greenyellow;
    width: 25%;
    float: left;
    padding-right: 40px;
}

.author-box {
    background-color: yellow;
    border-top: 5px solid gray;
    padding-top: 40px;
    margin-top: 5px;
}